.news-toolbar > ul {
    list-style-type: none;
}

.news-toolbar ul > li {
    display: inline-block;
    margin-right: 3rem;
}
.news-body > ul {
    list-style-type: none;
}

.news-bottom > ul {
    list-style-type: none;
}

.news-bottom ul > li {
    display: inline-block;
    margin-right: 3rem;
}

.news-toolbar-master-text {
    color: blue;
}
.news-secondary-text {
    color:gray;
}
.news-master-text {
    font-weight: bold;
    color: black;
}
