.yandex-text-first {
    color:red;
    font-size: xx-large;
    text-transform: uppercase;
}
.yandex-text-last {
    color:black;
    font-size: xx-large;
}
.searcher {
    border-color: rgb(252, 212, 33);
    width: 30rem;
    height: 2rem;
    margin: 0 1rem 0 1rem;
}

.searcher-button {
    background-color: rgb(252, 212, 33);
    border-color: rgb(252, 212, 33);
    width: 4rem;
    height: 2rem;
}