.bottom-item{
    display: inline-block;
    margin-right: 3rem;
}

.bottom-toolbar > ul {
    list-style-type: none;
}
.bottom-body > ul {
    list-style-type: none;
}

.bottom-toolbar-master-text {
    color: blue;
}
.bottom-secondary-text{
    color:gray;
}
.bottom-master-text {
    font-weight: bold;
    color: black;
}
.bottom-item {
    vertical-align: top;
}