.search-area {
    margin: 3rem 0 3rem 0;
}
.search-toolbar > ul {
    list-style-type: none;
}

.search-toolbar ul > li {
    display: inline-block;
    margin-right: 3rem;
}
.search-body > ul {
    list-style-type: none;
}

.search-bottom > ul {
    list-style-type: none;
}

.search-bottom ul > li {
    display: inline-block;
    margin-right: 3rem;
}

.search-toolbar-master-text {
    color: blue;
}
.search-secondary-text {
    color:gray;
}
.search-master-text {
    font-weight: bold;
    color: black;
}